PROJECT_NAME=Project Name
ENV=development
DEBUG=True

DATABASE_URL=postgresql+psycopg://username:password@localhost:7432/db_name

PAYMENT_API_URL=payment_url
PROTECTION_API_URL=protection_url

BOOKING_TTL_MINUTES=15