MONITORING__APP__HOST=localhost
MONITORING__APP__PORT=8000
MONITORING__APP__RELOAD=true

MONITORING__POSTGRES__HOST=localhost
MONITORING__POSTGRES__PORT=7432
MONITORING__POSTGRES__USER=postgres
MONITORING__POSTGRES__PASSWORD=postgres
MONITORING__POSTGRES__DATABASE=postgres
MONITORING__POSTGRES__ECHO=false

MONITORING__KAFKA__BOOTSTRAP_SERVERS=localhost:9092
MONITORING__KAFKA__PURCHASE_TOPIC=tickets.purchased
MONITORING__KAFKA__GROUP_ID=monitoring